/* You can add global styles to this file, and also import other style files */


:host {
    --dark-sky-blue: #93B7BE;
    --mint-cream: var(#F1FFFA);
    --pale-silver:#D5C7BC;
    --onyx: #454545;
    --danger: #dc3545;
  }

  html,body{
    height:100%;
    font-family: 'Muli' !important;
    background-color: #F1FFFA !important;
}

button{
    outline:none !important;
    box-shadow: none !important;
}

.btn-primary{
    background:  #93B7BE !important;
    border: none !important;
    outline:none !important;
    box-shadow: none !important;
}

.btn-outline-primary{
    color: #93B7BE !important;
    border-color: #93B7BE !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background: #93B7BE !important;
}

input{
    outline:none !important;
    box-shadow: none !important;
}

input:focus{
 border-color: #93B7BE !important;
}

.bg-dark-changelogs{
    --bs-bg-opacity: 1;
    background: #454545 !important;
}

.delete{
    color: #dc3545;
    float: right;
}
.edit{
    color: #454545;
    float: right; 
    margin-right: 10px;
}
.jumbotron{
    background: #93B7BE;
    color: #F1FFFA;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
}

.jumbotron.version{
    background: #D5C7BC;
}