/* You can add global styles to this file, and also import other style files */


:host {
    --danger: #dc3545;
    --blue-ossian: #1A7CAB;
    --grey2--ossian: #333333; 
    --grey-ossina: #282828 ;
  }

  html,body{
    height:90%;
    font-family: 'Ubuntu' !important;
    background-color: #333333 !important;
}
h1,h2,h3{
    color: white;
}
button{
    outline:none !important;
    box-shadow: none !important;
}

.btn-primary{
    background:  #1A7CAB !important;
    border: none !important;
    outline:none !important;
    box-shadow: none !important;
}
.btn-primary:hover{
    background:  #1A7CAB !important;
}

.btn-outline-primary{
    border: 2px solid #1A7CAB !important;
    color: #1A7CAB !important;
    border-color: #1A7CAB !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background: #1A7CAB !important;
}
.btn-outline-danger{
    border: 2px solid #dc3545 !important;
}

input{
    border: 1px solid #333333;
    outline:none !important;
    box-shadow: none !important;
    border-radius:20px !important;
    -webkit-border-radius:20px !important;
    -moz-border-radius:20px !important;
    -ms-border-radius:20px !important;
    -o-border-radius:20px !important;
}

input:focus{
 border-color: #1A7CAB !important;
}

.bg-dark-changelogs{
    --bs-bg-opacity: 1;
    background: #282828 !important;
}

.delete{
    color: #dc3545;
    float: right;
}
.edit{
    color: #282828;
    float: right; 
    margin-right: 10px;
}
.jumbotron{
    background: #1A7CAB;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
}

.jumbotron.version{
    background: #282828;
}

.btn{
    font-weight: bold !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dc354550;
    color: #dc3545;
    border: 2px solid #dc3545 !important;
    border-radius: 5px;
    height: 35px;
    font-weight: bold;
}
textarea{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
select{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.angular-editor-textarea{
    height: 300px !important;
}

.description{
    margin-top: 5px;;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}