<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">CHANGELOGS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="form-inline my-2 my-lg-0" id="navbarNav">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="logout()">Cerrar session</a>
                </li>
            </ul>
        </div>
    </div>
</nav>