<nav class="navbar navbar-expand-md navbar-dark bg-dark-changelogs">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/projects']">CHANGELOGS</a>
        <div class="form-inline my-2 my-lg-0" id="navbarNav">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="logout()">Cerrar session</a>
                </li>
            </ul>
        </div>
    </div>
</nav>