<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <button class="btn btn-outline-primary float-end">CREAR CAMBIO EN VERSIÓN</button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let versionChanges of versionsChanges;" class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">1</h5>
                    <p class="card-text m-0">1</p>
                    <p class="card-text">     </p>
                    <a class="btn btn-primary">Ver cambios en versiones</a>
                </div>
            </div>
        </div>
    </div>
</div>