<app-navbar></app-navbar>

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Proyecto: {{project.project_name}}</h1>
            <p class="lead mb-1"><strong>Compañía: </strong> {{project.company}}</p>
            <p class="lead">
                <strong>Estado: </strong>  
                <span *ngIf="project.state == 0">Activo</span>
                <span *ngIf="project.state == 1">Inactivo</span>
            </p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid version">
        <div class="container">
            <h1 class="display-4"><strong>Versión: </strong> {{version.version_name}}</h1>
            <p class="lead mb-1"><strong>Descripción: </strong> {{version.description}}</p>
            <p class="lead">
                <strong>Estado: </strong>
                <span *ngIf="version.state == 0">Activo</span>
                <span *ngIf="version.state == 1">Inactivo</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <button class="btn btn-outline-danger float-end" style="margin-left: 20px;" (click)="goBack()">VOLVER</button>
            <button class="btn btn-outline-primary float-end" (click)="create(createContent)">CREAR CAMBIO EN VERSIÓN</button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let versionChanges of versionsChanges;" class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3"><strong>{{versionChanges.change_name}}</strong>
                        <fa-icon (click)="deleteVersionChanges(project.id, version.id, versionChanges.id)" class="delete" [icon]="faTrash" ></fa-icon>
                        <fa-icon (click)="edit(editContent, versionChanges.id)" [icon]="faPen" class="edit"></fa-icon>
                    </h5>
                    <hr>
                    <p class="card-text m-0"><strong>Descripción HTML: </strong></p>
                    <p class="description" [innerHTML]="versionChanges.description_html"></p>
                    <p class="card-text m-0"><strong>Descripción larga: </strong></p>
                    <p class="description">{{versionChanges.description_long}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="versionsChanges?.length == 0" class="m-4">
            <h2>No hay Cambios creados en esta versión</h2>
        </div>
    </div>
</div>


<!-- MODAL EDIT -->
<ng-template #editContent let-c="close" let-d="dismiss">
    <form>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">EDITA EL CAMBIO DE LA VERSIÓN</h4>
            <button type="button" style="background: none; outline:none; border: none;" aria-label="Close"
                (click)="d('Cross click')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
        <div class="modal-body  m-3">

            <div class="form-group row">
                <label class="col-12">Nombre del cambio de la versión</label>
                <input class="col-12" type="text" name="change_name" #change_name="ngModel" [(ngModel)]="versionChanges.change_name">
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción HTML</label>
                <angular-editor class="col-12 p-0" [placeholder]="'Enter text here...'" name="description_html" #description_html="ngModel" [(ngModel)]="versionChanges.description_html"></angular-editor>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción larga</label>
                <textarea class="col-12" type="text" name="description_long" #description_long="ngModel" [(ngModel)]="versionChanges.description_long" required>
                </textarea>
            </div>

        </div>
        <div class="modal-footer">
            <input value="EDITAR" type="button" class="btn btn-outline-primary" (click)="editVersionChanges()">
        </div>
    </form>
</ng-template>

<!-- MODAL CREATE PROJECT-->
<ng-template #createContent let-c="close" let-d="dismiss">
    <form #createForm="ngForm" (ngSubmit)="createVersionChanges(project.id, version.id, createForm)">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">CREAR UN NUEVO CAMBIO DE LA VERSIÓN</h4>
            <button type="button" style="background: none; outline:none; border: none;" aria-label="Close"
                (click)="d('Cross click')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
        <div class="modal-body m-3">

            <div class="form-group row">
                <label class="col-12">Nombre del cambio de la versión</label>
                <input class="col-12" type="text" name="change_name"  ngModel required>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción HTML</label>
                <angular-editor class="col-12 p-0" [placeholder]="'Enter text here...'" name="description_html" ngModel required></angular-editor>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción larga</label>
                <textarea class="col-12" type="text" name="description_long" ngModel required>
                </textarea>
            </div>
        
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-outline-primary" value="CREAR">
        </div>
    </form>
</ng-template>
