<app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Proyecto: {{project.project_name}}</h1>
            <p class="lead mb-1"><strong>Compañía: </strong> {{project.company}}</p>
            <p class="lead">
                <strong>Estado: </strong> 
                <span *ngIf="project.state == 0">Activo</span>
                <span *ngIf="project.state == 1">Inactivo</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <button class="btn btn-outline-danger float-end" style="margin-left: 20px;" (click)="goBack()">VOLVER</button>
            <button class="btn btn-outline-primary float-end" (click)="create(createContent)">CREAR VERSIÓN</button>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class="col-12">Versiones:</h3>
    </div>
    <div class="row">
        <div *ngFor="let version of versions; let i=index;" class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3"><strong>{{version.version_name}}</strong>
                        <fa-icon (click)="deleteVersion(project.id, version.id)" [icon]="faTrash" class="delete" ></fa-icon>
                        <fa-icon (click)="edit(editContent, version.id)" [icon]="faPen" class="edit"></fa-icon>
                    </h5>
                    <hr>
                    <p class="card-text m-0"><strong>Descripción: </strong> </p>
                    <p>{{version.description}}</p>
                    <p class="card-text m-0"><strong>Descripción html: </strong></p>
                    <p class="description" [innerHTML]="version.description_html"></p>
                    <!--<p class="card-text m-0"><strong>Imagenes Versión: </strong></p>
                    <p>
                        <span *ngFor="let image of images[version.id]">
                            <button class="deleteImage" (click)="deleteImage(idProject,version.id,image.id)">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                           <img src="{{url + 'project/'+idProject+'/version/'+version.id+'/image/' + image.image_name}}" width="100%"> 
                        </span>
                    </p>-->
                    <p class="card-text m-0"><strong>Fecha: </strong> </p>
                    <p>{{version.version_date | date:'d/M/yyyy'}}</p>
                    <p class="card-text m-0"> <strong> Estado:</strong> </p>
                    <p>
                        <span *ngIf="version.state == 0">
                            activo
                        </span>
                        <span *ngIf="version.state == 1">
                            inactivo
                        </span>
                    </p>
                    <p class="card-text mt-0 mb-0"><strong>Autor:</strong></p>
                    <p> {{version.publisher}}</p>
                    <div style="text-align: right;">
                        <a class="btn btn-primary"  (click)="viewChangeVersions(project.id, version.id)">Ver cambios en versiones</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="versions?.length == 0" class="m-4">
            <h2>No hay versiones en este proyecto</h2>
        </div>
    </div>
</div>


<!-- MODAL EDIT -->
<ng-template #editContent let-c="close" let-d="dismiss">
    <form>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">EDITA LA VERSIÓN</h4>
            <button type="button" style="background: none; outline:none; border: none;" aria-label="Close"
                (click)="d('Cross click')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
        <div class="modal-body  m-3">

            <div class="form-group row">
                <label class="col-12">Nombre del proyecto</label>
                <input class="col-12" type="text" name="version_name" #version_name="ngModel" [(ngModel)]="version.version_name">
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción</label>
                <input class="col-12" type="text" name="description" #description="ngModel" [(ngModel)]="version.description">
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción HTML</label>
                <angular-editor class="col-12 p-0" [placeholder]="'Enter text here...'" name="description_html" #description_html="ngModel" [(ngModel)]="version.description_html"></angular-editor>
            </div>
            <!--<div class="form-group row mt-3">
                <label class="col-12">Subir imagenes version</label>
                <input type="file" (change)="captureFiles($event)" multiple>
            </div>-->
            <div class="form-group row mt-3">
                <label class="col-12">Fecha</label>
                <input class="col-12" type="date" name="version_date" #version_date="ngModel" [ngModel]="version.version_date | date:'yyyy-MM-dd'" (ngModelChange)="version.version_date=$event" required>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Estado</label>
                <select class="col-12" name="state" #state="ngModel" [(ngModel)]="version.state">
                    <option value="0">Activo</option>
                    <option value="1">Inactivo</option>
                </select>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Autor</label>
                <input class="col-12" type="text" name="publisher" #publisher="ngModel" [(ngModel)]="version.publisher" required>
            </div>
        </div>
        <div class="modal-footer">
            <input value="EDITAR" type="button" class="btn btn-outline-primary" (click)="editVersion()">
        </div>
    </form>
</ng-template>

<!-- MODAL CREATE PROJECT-->
<ng-template #createContent let-c="close" let-d="dismiss">
    <form #createForm="ngForm" (ngSubmit)="createVersion(project.id, createForm)">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">CREAR UNA NUEVA VERSIÓN</h4>
            <button type="button" style="background: none; outline:none; border: none;" aria-label="Close"
                (click)="d('Cross click')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
        <div class="modal-body m-3">

            <div class="form-group row">
                <label class="col-12">Nombre de la versión</label>
                <input class="col-12" type="text" name="version_name"  ngModel required>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción</label>
                <input class="col-12" type="text" name="description" ngModel required>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Descripción HTML</label>
                <angular-editor class="col-12 p-0" [placeholder]="'Enter text here...'" name="description_html" ngModel required></angular-editor>
                <!--<textarea class="col-12" type="text" name="description_html" ngModel required></textarea>-->
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Fecha</label>
                <input class="col-12" type="date" name="version_date" ngModel required>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Estado</label>
                <select class="col-12" name="state" ngModel required>
                    <option value="0">Activo</option>
                    <option value="1">Inactivo</option>
                </select>
            </div>
            <div class="form-group row mt-3">
                <label class="col-12">Autor</label>
                <input class="col-12" type="text" name="publisher" ngModel required>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-outline-primary" value="CREAR">
        </div>
    </form>
</ng-template>
