<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Proyecto: {{project.project_name}}</h1>
            <p class="lead mb-1"><strong>Compañía: </strong> {{project.company}}</p>
            <p class="lead">
                <strong>Estado: </strong>
                <span *ngIf="project.state == 0">Activo</span>
                <span *ngIf="project.state == 1">Inactivo</span>
            </p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid version">
        <div class="container">
            <h1 class="display-4">Versión: {{version.version_name}}</h1>
            <p class="lead mb-1"><strong>Descripción: </strong> {{version.description}}</p>
            <p class="lead">
                <strong>Estado: </strong>
                <span *ngIf="version.state == 0">Activo</span>
                <span *ngIf="version.state == 1">Inactivo</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <button class="btn btn-outline-danger float-end" style="margin-left: 20px;" (click)="goBack()">VOLVER</button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let versionChanges of versionsChanges;" class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3"><strong>{{versionChanges.change_name}}</strong></h5>
                    <hr>
                    <p class="card-text m-0"><strong>Descripción HTML: </strong></p>
                    <p class="description" [innerHTML]="versionChanges.description_html"></p>
                    <p class="card-text m-0"><strong>Descripción larga: </strong></p>
                    <p class="description">{{versionChanges.description_long}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="versionsChanges?.length == 0" class="m-4">
            <h2>No hay Cambios creados en esta versión</h2>
        </div>
    </div>
</div>
